/*
http://simurai.com/duotone-dark-earth-syntax/

#2c2826

#ffdac2
#bd987f
#98755d
#705e51
#564b43

#fecb52
#b09045
#726546
*/

@font-face {
	font-family: 'Monogram';
	src: url(fonts/monogram.ttf);
}

* {
	margin: 0;
	padding: 0;
	background-color: #2c2826;
	color: #705e51;
	font-family: 'Monogram', sans-serif;
	font-weight: 400;
	font-size: 118%;
	text-decoration: none;
	line-height: 120%;
	letter-spacing: 1px;
}

.container {
	max-width: 850px;
	margin: auto;
	margin-top: 200px;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	color: #ffdac2;
	margin-bottom: 30px;
}

p {
	margin-bottom: 10px;
}

a {
	color: #98755d;
	transition: all 0.2s ease;
	transition-delay: 0s;
}

a:hover {
	color: #fecb52;
}